<!DOCTYPE html>
<html>
<head>
  <title>Batmap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
home
<!--   <nav>
    # <% 
    # if current_user %>
      # Signed in
      # <%= link_to 
       # 'Sign Out', '/sign_out', method: :delete %>

      # <%= 
      # yield %>

    # <% 
    # # else %>
    #   <%= link_to 
      # 'Login', '/auth/facebook' %>
    # <% end 
    %>
  </nav> -->

</body>
</html>
